@using BlazorApp1.Layout
@inject NavigationManager Navigation

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="m-auto">
                <p role="alert">Not good, we went to the wrong place.</p>
                <HButton Variant="HVariant.Light"
                         ClassName="w-[80px]"
                         OnClick="() => Navigation.NavigateTo('/'.ToString())">
                    Back
                </HButton>
            </div>
        </LayoutView>
    </NotFound>
</Router>
